# Created by https://www.toptal.com/developers/gitignore/api/vscode,dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,dotenv

### dotenv ###
.env

#!! ERROR: vscode is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/vscode,dotenv
